<mat-list>
  <mat-list-item *ngFor="let portfolio of portfolios">
    <img matListAvatar src="{{ portfolio.photo }}" alt="{{ portfolio.title }}">
    <h3 matLine>{{ portfolio.title }}</h3>
    <p matLine>
      <span> {{ portfolio.description }} </span>
      <span class="demo-2"> -- {{ portfolio.status }} </span>
    </p>
    <button mat-icon-button routerLink="/view-portfolio/{{portfolio.id}}">
        <mat-icon>more_horiz</mat-icon>
     </button>
     <button mat-icon-button routerLink="/edit-portfolio/{{portfolio.id}}">
      <mat-icon>edit</mat-icon>
   </button>
  </mat-list-item>
</mat-list>