<h1>Edit Section</h1>

<div>
  <input matInput [(ngModel)]="portfolio.title" placeholder="Title">
</div>

<div>
  <textarea matInput [(ngModel)]="portfolio.description" placeholder="Description"></textarea>
</div>

<div>
  <input id="isPublic" type="checkbox" [(ngModel)]="portfolio.isPublic" placeholder="Is public">
  <label for="isPublic">Is public</label>
</div>

<div class="form-group">
    <button (click)="deletePortfolio(portfolio.id)">Delete Portfolio</button>
</div>

<div class="form-group">
  <button (click)="editPortfolio(portfolio.id)">Edit Portfolio</button>
</div>